/*#region Descriptive header*/
    .HeaderContainer
    {
        height: 20rem;
        border-radius: 0.75rem;
        background-image: url('images/descriptive_header.png');
        background-size: cover;
        background-position: center;
    }
    .BackButton
    {
        width: 2.6rem;
        height: 2.6rem;
        border-radius: 50%;
        line-height: 2.45rem;
        font-size: 1.6rem;
        border: 1px solid var(--bordergray);
        font-weight: 300;
    }
    .BackButton:active, .BackButton:hover, .PhotoButton:active, .PhotoButton:hover
    {
        background-color: var(--purple);
        border: 1px solid var(--purple);
        color: white;
        transition: all 150ms linear;
    }
    .PhotoButton
    {
        width: 9rem;
        font-weight: 500;
        font-size: 0.7rem;
        line-height: 2.4rem;
    }
    .HeaderLargeText
    {
        color: white;
        font-size: 2rem;
    }
    .HeaderSmallText
    {
        color: white;
        max-width: 50rem;
        font-size: 0.9rem;
    }
    .HeaderReadMore:link, .HeaderReadMore:visited, .HeaderReadMore:hover, .HeaderReadMore:active
    {
        font-size: 0.9rem;
        font-weight: 700;
        color: white;
    }
/*#endregion*/

/*#region Descriptive header details*/
    .HeaderDetails
    {
        font-size: 0.8rem;   
        font-weight: 500;
        color: var(--gray);
    }
    .HeaderDetails a:link, .HeaderDetails a:visited, .HeaderDetails a:hover, .HeaderDetails a:active
    {
        color: var(--gray);
    }
    .HeaderDetailsSpacer
    {
        border: 0.5px solid var(--bordergray);
    }
    .DetailsFavouriteButton
    {
        color: var(--black);
        border: 1px solid var(--bordergray);
        background-color: var(--lightbg);
        font-weight: 500;
        line-height: 2.4rem;
        width: 7rem;
    }
    .DetailsFavouriteButton:active, .DetailsFavouriteButton:hover
    {
        background-color: var(--bordergray);
        transition: all 150ms;
    }
    .DetailsFavouriteButton p::before
    {
        background-size: 0.75rem 0.75rem;
        width: 0.75rem;
        height: 0.75rem;
        margin-left: -0.15rem;
        margin-top: 0.8rem;
        background-image: url("icons/heart.png");
    }
    .DetailsReservationButton
    {
        color: white;
        border: 1px solid var(--green);
        background-color: var(--green);
        font-weight: 500;
        line-height: 2.4rem;
        width: 10rem;
    }
    .DetailsReservationButton:active, .DetailsReservationButton:hover
    {
        background-color: var(--black);
        border: 1px solid var(--black);
        transition: all 150ms;
    }
/*#endregion*/

/*#region Restaurant description*/
    .RestaurantDescription
    {
        width: 100%;
        display: flex;
    }
    .DescriptionSide
    {
        width: calc(100vw - 30rem);
    }
    .CalendarSide
    {
        width: 30rem;
    }
    .DescriptionMenu a:link, .DescriptionMenu a:visited, .DescriptionMenu a:hover, .DescriptionMenu a:active
    {
        font-size: 1.1rem;
        font-weight: bold;
        color: var(--black);
        text-underline-offset: 0.5rem;
    }
    .DescriptionMenu
    {

    }
    .LocationAndTime
    {
        font-size: 0.8rem;
    }
    .LocationAndTimeHeader
    {
        font-size: 1.1rem;
        font-weight: bold;
    }
/*#endregion*/
